@page "/manage"
@using ShoppingBlazor.Components.Pages.ManageTabs

<PageTitle>Manage</PageTitle>

<div class="container mt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#categories" data-bs-toggle="tab">
                <i class="bi bi-list-ul"></i> دسته‌بندی‌ها
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#brands" data-bs-toggle="tab">
                <i class="bi bi-tags"></i> برندها
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#products" data-bs-toggle="tab">
                <i class="bi bi-box-seam"></i> کالاها
            </a>
        </li>
    </ul>

    <div class="tab-content mt-3">

        <div class="tab-pane fade show active" id="categories">
            <CategoriesTab></CategoriesTab>
        </div>

        <div class="tab-pane fade" id="brands">
            <BrandsTab></BrandsTab>
        </div>

        <div class="tab-pane fade" id="products">
            <ProductsTab></ProductsTab>
        </div>

    </div>
</div>

@code {

}